{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <ul class="publication-list">
      <li>
        <!-- Bold your name only -->
        <strong>Malik Khizar Hayat</strong>
        , {{ post.authors | remove: 'Malik Khizar Hayat' | strip_newlines }} 
        , "{{ post.title }}." 
        <i>{{ post.venue }}</i>
        
        {% if post.volume %}
          , vol. {{ post.volume }}
        {% endif %}
        
        {% if post.pages %}
          , pp. {{ post.pages }}
        {% endif %}
        
        {% if post.date %}
          , {{ post.date | date: "%Y" }}
        {% endif %}.
        
        {% if post.doi %}
          <a href="https://doi.org/{{ post.doi }}" target="_blank">{{ post.doi }}</a>
        {% endif %}
      </li>
    </ul>
  </article>
</div>
